@import url('./reset.css');

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  margin: 0 auto;
}

.form input {
  display: block;
  box-sizing: border-box;
  margin-top: 8px;
  width: 270px;
  padding: 6px 16px;
  border: 1px solid #808080;
  border-radius: 4px;
  transition: 0.5s;
  outline: none;
}

.form input:hover,
.form textarea:hover {
  border-color: black;
}

.form input {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.04em;
  color: #2e2f42;
}

.form input::placeholder {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.04em;
}

.form button[type='submit'] {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.04em;
  color: white;
  padding: 7px 16px;
  background: #4e75ff;
  border-radius: 8px;
  border: none;
  margin-top: 8px;
  transform: 0.5s;
  cursor: pointer;
}

.form button[type='submit']:hover {
  background: #6c8cff;
}

.gallery {
  margin: 32px auto 0;
  max-width: 1280px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 24px;
  list-style: none;
}

.gallery img.gallery-image {
  width: 360px;
  height: 200px;
  object-fit: cover;
  transition: 0.5s;
}

.gallery-item {
  border: 1px solid #808080;
}

.gallery-item > .image-stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 20px;
}

.gallery-item > .image-stats > p {
  font-family: 'Montserrat', sans-serif;
  font-size: 12px;
  font-weight: 600;
  line-height: 16px;
  letter-spacing: 0.04em;
  color: #2e2f42;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.gallery-item > .image-stats > p > span {
  font-weight: 400;
  line-height: 24px;
}
.loading-text {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.04em;
  text-align: center;
  color: #2e2f42;
  margin-top: 32px;
}

.loading-text.hidden {
  display: none;
}

.loader {
  width: 20px;
  height: 20px;
  border: 2px solid #fff;
  border-bottom-color: #ff3d00;
  border-radius: 50%;
  display: inline-block;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
